:root {
  // 导航菜单的背景颜色
  --navbar-background: #a60000;
  --navbar-background-active: #890404;
  --sidebar-background-0: #a60000;
  --sidebar-background-1: #eaeaf1;
  --sidebar-background-2: #ebebea;
  --sidebar-background-active: #efdcdc;
}
